.registerpage {
	@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
	.login-block {
		// float: left;
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}
	.auth-logo-wrapper {
		display: flex;
    flex-direction: column;
    align-items: center;
		justify-content: center;
		.auth-logo {
			width: 60%;
		}
	}
	.banner-sec {
		min-height: 500px;
		border-radius: 0 10px 10px 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		color: #db1919;
		transition: .5s ease;
	}
	a:hover {
		color: #363b6e;
	}

	.form {
		background-color: #f4f4f4;
		padding: 40px;
		max-width: 600px;
		margin: 40px auto;
		border-radius: 4px;
		box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	}

	.tab-group {
		list-style: none;
		padding: 0;
		margin: 0 0 25px 0;
	}
	.tab-group:after {
		content: "";
		display: table;
		clear: both;
	}
	.tab-group li a {
		display: block;
		text-decoration: none;
		padding: 15px;
		background: #d3d1d1;
		color: #455956;
		font-size: 20px;
		float: left;
		width: 50%;
		text-align: center;
		cursor: pointer;
		transition: .5s ease;
	}
	.tab-group li a:hover {
		background: #01334b;
		color: #ffffff;
	}
	.tab-group .active a {
		background: #2e6d8a;
		color: #ffffff;
	}

	h1 {
		text-align: center;
	
		font-weight: 300;
		margin: 0 0 25px;
	}

	label {
		position: absolute;
		-webkit-transform: translateY(6px);
		transform: translateY(6px);
		left: 13px;
		color: rgba(255, 255, 255, 0.5);
		transition: all 0.25s ease;
		pointer-events: none;
		font-size: 22px;
	}
	label .req {
		margin: 2px;
		color: #1ab188;
	}

	label.active {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		left: 2px;
		font-size: 14px;
	}
	label.active .req {
		opacity: 0;
	}

	label.highlight {
		color: #ffffff;
	}

	input,
	textarea {
		font-size: 18px;
		display: block;
		width: 100%;
		padding: 5px 10px;
		background: none;
		background-image: none;
		border: 1px solid #a0b3b0;
	//	color: #ffffff;
		border-radius: 0;
		transition: border-color .25s ease, box-shadow .25s ease;
	}
	input:focus,
	textarea:focus {
		outline: 0;
		border-color: #1ab188;
	}

	textarea {
		border: 2px solid #a0b3b0;
		resize: vertical;
	}

	.field-wrap {
		position: relative;
		margin-bottom: 40px;
	}

	.top-row:after {
		content: "";
		display: table;
		clear: both;
	}
	.top-row > div {
		float: left;
		width: 100%;
		margin-right: 4%;
	}
	// .top-row > div:last-child {
	// 	margin: 0;
	// }

	.button {
		border: 0;
		outline: none;
		border-radius: 0;
		padding: 15px 0;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: .1em;
		background: #086c51;
		color: #ffffff;
		transition: all 0.5s ease;
		-webkit-appearance: none;
	}
	.button:hover,
	.button:focus {
		background: 1ab188;
	}

	.button-block {
		display: block;
		width: 100%;
	}

	.forgot {
		margin-top: -20px;
		text-align: right;
	}

	.disclaimer-text {
		padding-top: 7px;
	}

	button:disabled {
		opacity: .6;
		pointer-events: none;
	}
}

.auth-container .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (min-width: 992px) {
	.registerpage {
		.top-row > div {
			width: 48%;
		}
		.top-row > div:last-child {
			margin: 0;
		}
	}
}
