.userpanel .module-head {
  background: #2e6d8a;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 30px 50px 30px;
  box-sizing: border-box;
  line-height: 1; }
  .userpanel .module-head h1 {
    display: inline-block;
    padding: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0; }
  .userpanel .module-head .module-filter {
    display: inline-block;
    color: #444651;
    font-weight: 300; }

.userpanel .posts-carousel-module {
  display: -webkit-flex;
  display: -ms-flexbox;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0 0 24px;
  padding-bottom: 15px;
  overflow: hidden; }

.userpanel .posts-slider-module-items {
  width: 100%; }

.userpanel .skill-warpper {
  /* padding: 0 !important; */
  background-color: black;
  padding: 20px 30px;
  overflow: hidden; }
  .userpanel .skill-warpper .module-head {
    background: black;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    text-align: center;
    padding: 15px 15px 30px; }
  .userpanel .skill-warpper .posts-carousel-module,
  .userpanel .skill-warpper .c-container {
    background: black; }
  .userpanel .skill-warpper .activity-item {
    border: 1px solid #f5f5f5 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff; }
  .userpanel .skill-warpper h1 {
    font-weight: normal;
    font-size: 36px;
    text-transform: none; }
    .userpanel .skill-warpper h1 span {
      color: #f87900; }
  .userpanel .skill-warpper .nxtbtn {
    right: -15px; }
  .userpanel .skill-warpper .prevbtn {
    left: -15px; }

.userpanel .bottom-warpper {
  margin-top: 20px; }
  .userpanel .bottom-warpper .module-head {
    background: none;
    border-bottom: none;
    padding: 15px 30px; }
    .userpanel .bottom-warpper .module-head h2 {
      font-weight: normal;
      font-size: 26px;
      text-transform: none;
      color: #576276;
      margin-top: 10px;
      margin-bottom: 6px; }
      .userpanel .bottom-warpper .module-head h2 span {
        color: #f87900; }
  .userpanel .bottom-warpper .high-rate-tech .module-head {
    padding: 0 10px;
    text-align: center; }
  .userpanel .bottom-warpper .high-rate-tech h2 {
    font-weight: normal;
    font-size: 23px !important;
    text-transform: none;
    margin-top: 23px;
    color: #576276; }
    .userpanel .bottom-warpper .high-rate-tech h2 span {
      color: #f87900; }

.userpanel .mt-0 {
  margin-top: 0; }

.alert.alert-primary {
  color: #fff; }

.alert-info {
  background-color: #505655;
  border: 5px solid #838685;
  padding: 20px; }

.centered {
  float: none;
  margin: 0 auto; }

.message-data {
  z-index: 10;
  display: inline-block;
  margin: 0px auto;
  position: fixed;
  transition: all 0.5s ease-in-out 0s;
  top: 60px;
  left: 0px;
  right: 0px; }
  .message-data a {
    text-decoration: none; }

.dn {
  display: none; }

.db {
  display: block; }
