.react-tagsinput-tag {
	background-color: rgb(46, 109, 138);
	border-radius: 2px;
	border: 1px solid rgb(217, 220, 209);
	color: rgb(248, 251, 241);
	display: inline-block;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 8px;
	border-radius: 7px;
	font-weight: bold;
	text-transform: capitalize;
}
.history-tags-cont {
	padding: 10px 0px;
}
.react-tagsinput-input {
	width: auto;
}
